### First, install all necessary packages

In [14]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library



print('Libraries imported.')

Libraries imported.

### Download the data inta a pandas dataframe

In [42]:

url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

lst = pd.read_html(url, attrs={"class": "wikitable"})
df = lst[0]
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

### Ignore the cells that are 'Not assigned'

In [43]:
df.drop(df[df['Borough']=="Not assigned"].index,axis=0, inplace=True)

### Combine neighbourhoods with the same postcode

In [44]:
df1=df.groupby("Postal Code").agg(lambda x:','.join(set(x)))
df1.head()

                 Borough                            Neighborhood
Postal Code
M1B          Scarborough                          Malvern, Rouge
M1C          Scarborough  Rouge Hill, Port Union, Highland Creek
M1E          Scarborough       Guildwood, Morningside, West Hill
M1G          Scarborough                                  Woburn
M1H          Scarborough                               Cedarbrae

### Unassigned neighbourhoods become the name of the borough

In [45]:
df1.loc[df1['Neighborhood']=="Not assigned",'Neighborhood']=df1.loc[df1['Neighborhood']=="Not assigned",'Borough']

In [47]:
df1.reset_index().head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [48]:
df1.shape

(103, 2)